*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    background-color: #023047;
}

.overall-container{
    display: flex;
    margin: 3%;
}

.container-info{
    padding: 3%;
    width: 50%;
}

.container-map{
    padding: 3%;
    width: 50%;
}

.font-title-info{
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    color: #c7c6c6;
    line-height: 1.35;
    text-align: left;
}

.font-para-info{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #c7c6c6;
    line-height: 1.5;
    text-align: left;
}

.font-para-info li{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #c7c6c6;
    line-height: 1.5;
    text-align: left;
    margin: 0 3.5%;
}

h2{
    padding: 2% 0;
}

.line{
    margin: 6% 0;
}

.iss-image-container {
    width: 100%; /* Set your desired container width */
    height: 100%; /* Set your desired container height */
    overflow: hidden; /* Prevent the image from overflowing outside the container */
    margin: 5% 0;
}

.iss-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.iss-map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 5% 0;
}

#map {
    height: 50vh;
    width: 100%;
    margin: 3% 0;
}

.error-image{
    background-image: url("images/404.jpg");
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-bg{
    background-color: #FB8500!important;
}

.header-text{
    color: white!important;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.footer-text{
    color: white!important;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.mapboxgl-marker path {
    fill: #90BE6D;
}

@media screen and (max-width: 768px) {
    .overall-container{
        flex-direction: column; /* Stack elements vertically on mobile */
        padding: 8%;
    }

    .container-info{
        width: 100%; /* Expand to full width on mobile */
        margin: 0;
        padding: 0;
        order: 2;
    }

    .container-map{
        width: 100%; /* Expand to full width on mobile */
        margin: 0;
        padding: 0;
        order: 1;
    }

}